.Page {
    overflow: hidden auto;
    height: 100%;

    .content {
        height: 100%;
    }

    .wellcome {
        height: 100%;
        color: #4F4F4F;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 46px;
        text-align: center;
    }

    .searchResults {
        padding-top: 24px;
        padding-left: 32px;
        max-height: calc(100vh - 80px - 32px);
    }

    .details {
        background-color: #F2F2F2;
        height: 100%;
        overflow: hidden auto;
        max-height: calc(100vh - 80px - 32px);

        .info {
            padding: 24px 32px 24px 24px;
        }

        .hint {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #4F4F4F;
            margin: 0;
        }
    }
}
