@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');

:root {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
}

.MuiDataGrid-footerContainer {
    border-color: transparent !important;
}
